*   {     
        margin: 20px 0px 20px 0px;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
      }

      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }

      @media (max-width: 640px){
        .header {
          flex-direction: column;
          text-align: center;
          justify-content: center;
          width: 100%;
        }
        .header-title{
            margin-bottom: 10px;
        }
        .header-subtitle{
            margin-bottom: 10px;
        }
      }

      @media (max-width: 1024px){
        .header {
          flex-direction: column;
          text-align: center;
          justify-content: center;
          width: 100%;
        }
        .header-title{
            margin-bottom: 10px;
        }
        .header-subtitle{
            margin-bottom: 10px;
        }
      }

      @media (max-width: 1280px){
        .header {
          flex-direction: column;
          text-align: center;
          justify-content: center;
          width: 100%;
        }
        .header-title{
            margin-bottom: 10px;
        }
        .header-subtitle{
            margin-bottom: 10px;
        }
      }

      @media (max-width: 1440px){
        .header {
          flex-direction: column;
          text-align: center;
          justify-content: center;
          width: 100%;
        }
        .header-title{
            margin-bottom: 10px;
        }
        .header-subtitle{
            margin-bottom: 10px;
        }
      }

      @media (max-width: 2560px){
        .header {
          flex-direction: column;
          text-align: center;
          justify-content: center;
          width: 100%;
        }
        .header-title{
            margin-bottom: 10px;
        }
        .header-subtitle{
            margin-bottom: 10px;
        }
      }

      